/* myself.component.scss */

.carousel-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.carousel-img {
  width: 500px;
  height: 650px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Text */
.carousel-text {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
