<div class="about-wrapper">
  <div class="about-image-container">
    <img [src]=picture alt="Ich" class="about-image" />
  </div>

  <div class="about-text">
    <h1 id="ueberMich">Über mich</h1>
    <p>
      Hi, Ich bin Carsten und 21 Jahre alt und seit über 5 Jahren in einer Beziehung. Ich mache gerade meine Ausbildung als Fachinformatiker für Anwendungsentwicklung bei der Firma BEUMER Group in Beckum. In meiner Freizet gehe ich zum Sport, Egal ob Fitnessstudio oder Fechten im Verein. Nebenbei versuche ich noch zuhause zu programmieren und neue Sachen zu lernen.
      Ich habe meine Fachhochschulreife im Bereich Informationstechnik gemacht, und als Klassenbeste abgeschlossen.
    </p>
  </div>
</div>