/* navbar.component.scss */

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.nav-list {
  display: flex;
  gap: 40px;
  background: #ffffff;
  padding: 14px 40px;
  border-radius: 50px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #444;
  transition: 0.25s;
  padding: 6px 12px;
}

.nav-list li a:hover {
  color: #000;
  background: #f0f0f0;
  border-radius: 12px;
}
